#
/simulation/modelsim/rtl_work/

#ignore non-code files
*.ammdb
*.aprj
*.asm~
*.bak
*.bpm
*.dat
*.dbs
*.cdb
*.hdb
*.jdi
*.wlf
*.hier_info
*.hif
*.html
*.ipinfo
*.logdb
*.kpt
*.qmsg
*.rdb
*.dpi
*.ddb
*.hif
*.hsd
*.txt
*.nvd
*.pin
*.prw
*.psm
*.qns
*.qws
*.rpt
*.sdo
*.svo
*.summary
*.sv~
*.Symbols.csv
*.tmw_info
*.tdb
*.flock
*.hier_info
*.db_info
*.idb
*.sci
*.done
*.xlsx
*.xml
*.xrf
